.side-nav {
    width: 90px;
    background-color: #00284F;
    position: fixed;
    height: 100%;

    .side-nav__items {
        a {
            display: block;
            text-align: center;
            color: #D9EBFC;
            font-size: 25px;
            padding-top: 16px;
            padding-bottom: 16px;
            
            text-decoration: none;
            
            span {
                font-size: 15px;
                font-weight: 800;
                display: none;
            }

            &.active {
                color: #6FB7FF;

                span {
                    display: block;
                }
            }

            &.disabled {
                opacity: 0.5;
                pointer-events: none;
            }
        }
    }
}