.price-card {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ebedf0;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;

    &:hover { background-color: #EBF5FB; }
  
    .price-card__header {
      font-size: 20px;
      font-weight: 800;
      letter-spacing: 0.5px;
    }
  
    .price-card__price-feeds {
      margin-top: 10px;
      span {
        font-size: 12px;
        font-weight: 800;
        
        span {
          font-size: 13px;
          letter-spacing: 0.5px;
          margin-left: 5px;

          &.success {
            color: #28B463;
          }

          &.danger {
              color: #E74C3C;
          }

          &.disabled {
              opacity: 0.5;
          }
        }
      }
    }

    .price-card__price-details {
      font-size: 11px;

      span {
        span {
          display: block;
        }
      }
    }
  }