.live-market__compnaies-list {  
    a {
      display: block;
      padding: 15px;
      background-color: #fff;
      margin: 5px;
      border-radius: 2px;
      text-decoration: none;
      color: inherit;
  
      &:hover {
        background-color: #EBF5FB;
      }

      &.active {
        background-color: #EBF5FB;
      }
  
      .compnaies-list__header {
        font-weight: 800;
        letter-spacing: 0.5px;
      }
  
      .compnaies-list__body {
        margin-top: 5px;
      }
    }
  }